<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getqueried.getqueried_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".GetQueriedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.LoginEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".registration.RegisterEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".answer.AnswerQueriesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".create_query.AskQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".create_query.QuerySendToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".create_query.EditImageOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".create_query.AddImageDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.VerifyEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.CompleteProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cameraAPI.CaptureActivityCAPI1"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bc248a37827e73dd53d9cfcfb8a75f6a35be3f39" />

        <activity android:name=".registration.ForgotPasswordActivity" />
        <activity android:name=".FriendsAddActivity" />
        <activity android:name=".TutActivity" />
        <activity android:name=".Invite"></activity>
        <activity android:name=".WelcomeActivity"/>
        <activity android:name=".answer.MultiAnswerActivity"/>
    </application>

</manifest>